.alchemy {
    display: flex;
    padding: 30px;
    justify-content: space-evenly;
    align-items: inherit;
}

.list-card {
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: #282828;
    height: 340px;
    width: 200px;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 15);    
}

.list-card button {
    margin-top: auto;
}

.card-input {
    border-radius: 5px;
    outline: none;
    background-color: azure;
    color: black;
}